@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');


:root {
    /* Colors */

    /* Primary */ 
    --pink: hsl(322, 100%, 66%);

    /* Neutral */
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;

}
html {
    scroll-behavior: smooth; 
}
body {
    position: relative;
    text-rendering: optimizeSpeed;
}
img,
picture,
svg {
    max-width: 100%;
    display: block;
}
ul[role="list"],
ol[role="list"] {
    list-style: none;
}
h1, h2, button {
    text-transform: capitalize;

}
h1, h2 {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 3.5em
}
p {
    color: var(--Grayish-Blue);
    font-size: 18px
}
.nav-container {
    padding: 2em 5em;
}
button {
    border: none;
    border-radius: 3em;
    background-color: var(--pink);
    color: aliceblue;
    cursor: pointer;
    width: 26em;
    height: 4em;
}
.nav-container button {
    background-color: white;
    color: var(--Very-Dark-Cyan);
    width: 15em;
    height: 3em;
}
header {
    background-image: url(./images/bg-hero-desktop.svg);
    background-color: var(--Very-Pale-Cyan);
    background-size: contain;
    margin-bottom: 5em;
}
.header-container {
    display: flex;
    padding: 3em
}
.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    margin-bottom: 3em;
    padding: 3em;
    flex: 1;
}
.header-text p {
    font-size: 1em;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-bottom: 7em;
}
.container-img-right {
    display: flex;
    flex-direction: row-reverse;
}
.container-img-left {
    display: flex;
}
.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main,
footer {
    padding: 6em;
}
main section {
    border: solid rgb(247, 247, 247);
    border-radius: 2em;
}
.text-box,
.box-image {
    flex: 1;
    padding: 5em;
}
.image-box img {
    height: auto;
}
.random-div {
    background-color: hsl(180, 22%, 96%);
    height: 11em;
    width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 20%; /* Position from top */
    left: 50%; /* Position from left */
    transform: translate(-50%, -50%); /* Center the element */
    border-radius: 1em;
}



footer {
    background-color: var(--Very-Dark-Cyan);
    color: var(--Very-Pale-Cyan);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.footer-info {
    display: flex;
}
.footer-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contacts, 
.navigation,
.copyright {
    flex: 1;
    padding: 1rem;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
}
.company-logo {
    width: 20em;
    filter: brightness(0) invert(1);
    padding-bottom: 3em;
}
.location,
.phone,
.email {
    display: flex;
    align-items: center;
    gap: 1em;
}
.phone a,
.email a {
    text-decoration: none;
    color: #fff;
}
.navigation {
    display: flex;
    flex-wrap: wrap;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    width: 50%; /* Adjust as needed */
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.footer-nav ul :hover {
    text-decoration: underline;
}
.footer-nav li {
    width: 50%;
    padding: 0.5rem 0;
}
.footer-nav a {
    text-decoration: none;
    color: var(--Very-Pale-Cyan);
    text-transform: capitalize;
}
.social-icons {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-bottom: 1em;
}
.social-icons a svg {
    width: 24px;
    height: 24px;
    fill: #fff; 
}
.social-icons a svg :hover {
    fill: var(--pink);
}

@media (max-width: 600px) {
.nav-container {
    padding: 2em 2em ;
}
.nav-container a {
    width: 7em;
}
.nav-container button {
    width: 7em;
    height: 2em;
}
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-text {
    text-align: center;
}
.header-text button {
    width: 23em;
}
h1 {
    font-size: 1.6em;
}
main {
    padding: 2em;
}
.text-box {
    align-items: center;
    gap: .5em;
}
.text-box p {
    text-align: center;
}
.container-img-left,
.container-img-right {
    flex-direction: column;
}
.random-div {
    width: 90%;
    margin-bottom: -2em;
}
.random-div button {
    width: 20em;
}
.random-div h2 {
    font-size: 1.2em;
}
footer {
    flex-direction: column; 
    padding: 1em;
    align-items: start; 
}
.footer-info {
    display: flex;
    flex-direction: column;
}
.contacts,
.navigation {
    width: 100%; 
    text-align: start; 
}
.footer-socials {
    padding-left: 2em;
}
.footer-nav {
    width: 100%; 
}
.footer-nav li {
    justify-content: start;
}
.footer-nav li {
    width: 100%; 
    text-align: start;
}
.social-icons {
    display: flex;
    justify-content: center;
}
.company-logo {
    width: 10rem;
    margin-left: 1em;
    padding-top: 3em;
}